################################################
#                                              #
# rtl_osv21.py WUnderground configuration file #
#                                              #
################################################

# WUnderground account information
ID: Your_Id_Here
PASSWORD: Your_Password_Here

# Include indoor temperature and humidity values in the values sent to the 
# WUnderground PWS system?
#includeIndoor: False

# Verbose output of the packet decoding process
#verbose: True

# Station elevation in meters
#elevation: 0

# Full path to the rtl_sdr executable
#rtlsdr: rtl_sdr

# Recording duration in seconds
#duration: 90

# Use timeout to control the rtl_sdr call
# Note: Useful for running on a Raspberry Pi
#useTimeout: True

# Retain the rlt_sdr data file after running?
#retainFile: True

