################################################
#                                              #
# rtl_osv21.py Wunderground configuration file #
#                                              #
################################################

# Wunderground account information
ID Your_Id_Here
PASSWORD Your_Password_Here

# Include indoor temperature and humidity values in the Wunderground upload?
#includeIndoor False

# Verbose output?
#verbose False

# rtl_sdr executable path
#rtlsdr rtl_sdr

# Use timeout to control the rtl_sdr call
#useTimeout False
